[submodule "rtl/mist/mist-modules"]
	path = rtl/mist/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "rtl/T65"]
	path = rtl/T65
	url = https://github.com/mist-devel/T65.git
[submodule "rtl/cbm_sid"]
	path = rtl/cbm_sid
	url = git@github.com:RW-FPGA-devel-Team/cbm_sid.git
